#header

  %img{src: "/images/tryoshka-logo.png", alt: "Tryoshka"}

  %h1
    Tryoshka
    %span
      Simple image processing for heroku apps.
      
#content

  %h2 1. Install our Heroku Addon

  %h2 2. Upload Images
    
  %pre
    POST https://api.tryoshka.com/12345

  %h2 3. Download Images

  %pre
    GET https://api.tryoshka.com/12345/potato.png?w=100